<!DOCTYPE html>
<html>
    <head>
        <meta charset="{% block charset %}{% endblock %}">
        <meta name="author" content="{% block authorMeta %}{% endblock %}">
        <meta name="generator" content="{% block generator %}{% endblock %}">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

    </head>
    <body>
        {% block body %}

            <!-- Navigation -->

        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
