{% extends 'base.html.twig' %}

{% block charset %}{{ charset }}{% endblock %}
{% block authorMeta %}{{ pageAuthor }}{% endblock %}
{% block generator %}{{ generator }}{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block body %}

    <h1>Hello World!</h1>

{% endblock %}